{% extends "base_generic.html" %}

{% block content %}

<title>Events list</title>

<h1>Events</h1>

<br>
<div class="container-xl">
	<div class="table-responsive">
		<div class="table-wrapper">
			<div class="table-title">
				<div class="row">
					<div class="col-sm-6">
						<h2>Manage <b>Events</b></h2>
					</div>
					<div class="col-sm-6">
						<a href="#addNewEvent" class="btn btn-success" data-toggle="modal"><i class="material-icons"></i> <span>Add New Event</span></a>
						<a href="#deleteEvent" class="btn btn-danger" data-toggle="modal"><i class="material-icons"></i> <span>Delete</span></a>						
					</div>
				</div>
			</div>
			<table class="table table-striped table-hover">
				<thead>
					<tr>
						<th></th>	
						<th>Name</th>
						<th>Description</th>
						<th>Edit</th>
						<th>Delete</th>
					</tr>
				</thead>
				<tbody>
        {% for event in page_obj %}
					<tr>
						<td>
							<span class="custom-checkbox">
                  <input type="checkbox" id="checkbox1" name="options[]" value={{event.id}}>
								<label for="checkbox1"></label>
							</span>
						</td>
            <td>{{event.name}}</td>
            <td>{{event.description}}</td>
            <td><a href="#"><i class="bi-pencil"></i></a></td>
						<td><a href="{% url 'event_confirm_delete' %}"><i class="bi-trash"></i></a></td>
					</tr>
        {% endfor %}
				</tbody>
			</table>
			<div>
          <div class="hint-text">Showing <span class="badge badge-dark">{{page_obj.number}}</span> out of <b>{{page_obj.paginator.num_pages}}</b> entries</div>
          <div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
    </div>
			</div>
		</div>
	</div>        
</div>

{% endblock %}
